.categoryList {
  width: 90%;
}

.categoryList h2 {
  border-bottom: 1px solid #e6e6e6;
  margin: 10px 0;
  padding: 0 0 20px 0;
  color: #05AF3C;
  width: 100%;
}

.categoryList button {
  font-size: 35px;
  border: none;
  background-color: white;
}

.categoryList button:hover {
  color: #05AF3C;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.categoryList li {
  margin-bottom: 15px;
  transition: all 0.15s ease-in-out;
}

.categoryList li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  position: relative;
}

.categoryList li:first-child button {
  position: absolute;
  right: -8px;
  top: 12px;
  color: #05AF3C;
  height: 0;
  width: 0;
}

.categoryList li:first-child img {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0px;
  top: 0px;
}
