.leftnav {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-right: 150px;
}

.leftnav span {
  position: absolute;
  transition: all 0.15s ease;
}

.leftnav span:last-child:hover {
  border-bottom: 3px solid #2BDE73;
  transition: all 0.15s ease;
}

.leftnav span > * {
  padding: 22px 0;
}

.leftnav span:first-child {
  width: 49px;
  left: -1px;
  top: -54px;
  padding: 20px 0 20px 24px;
  align-items: center;
}

.leftnav span:first-child a {
  transition: all 0.15s ease;
  padding: 21px 0 21px 24px;
}

.leftnav span:first-child a:hover {
  transition: all 0.15s ease;
  border-bottom: 3px solid #2BDE73;
  cursor: pointer;
}

.leftnav img {
  position: absolute;
  right: 23px;
  top: 23px;
  width: 19px;
  height: 19px;
  padding: 20px 5px 20px 0;
}

.leftnav span:last-child {
  width: 89px;
  left: 140px;
  top: -32px;
  padding: 20px 0;
  align-items: center;
}
