.login-form-container {
  display: flex;
  justify-content: center;
  padding: 60px;
  background-color: rgba(225, 225, 225, 0.5);

}

.login-form-box {
  border: 1px solid #e6e6e6;
  background-color: white;
  padding: 20px;
}

.login-form-box p {
  font-size: 25px;
}

.redirect {
  border: 1px solid black;
}

.login-form * {
  margin: 8px 0;
}

.login-input {
  width: 330px;
  height: 16px;
  padding: 10px;
  border-radius: 6px;
}

.login-submit {
  width: 354px;
  height: 40px;
  border: none;
  color: white;
  background-color: #25CB68;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 15px;
}

.login-submit:hover {
  background-color: #20ac58;
  transition: all 0.2s ease-in-out;
}
