.login-form-container {
  display: flex;
  justify-content: center;
  padding: 60px;
  background-color: rgba(225, 225, 225, 0.5);
  font-family: 'Open Sans'
}

.login-form-box {
  border: 1px solid #e6e6e6;
  background-color: white;
}

.login-form {
  padding: 10px 20px;
}

.login-form-box p {
  font-size: 30px;
  margin-bottom: 30px;
}

.redirect {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

.redirect div {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 15px;
}

.redirect div span:last-child {
  font-weight: bold;
  color: #2752ff;
}

.redirect div span:last-child:hover {
  color: black;
  transition: all 0.2s ease-in-out;
}

.login-form * {
  margin: 9px 0;
}

.login-input {
  width: 330px;
  height: 16px;
  padding: 10px;
  border-radius: 6px;
}

.login-submit {
  width: 354px;
  height: 40px;
  border: none;
  color: white;
  background-color: #25CB68;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
}

.login-submit:hover {
  background-color: #20ac58;
  transition: all 0.2s ease-in-out;
}

.login-errors {
  margin-bottom: 20px;
  color: red;
  text-align: center;
  font-style: italic;
  font-size: 12px;
}
