.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  position: relative;
}

#searchIcon {
  display: flex;
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 9px;
  top: -8px;
}

#searchIcon:hover {
  cursor: pointer;
  transition: 1s;
  transform: rotate3d(1,1,0,1080deg);
}

.login-signup #searchIcon {
  right: 200px;
}

.header-group #searchIcon {
  right: 110px;
}

#title span:first-child {
  color: #2BDE73;
}

#title {
  font-size: 25px;
  margin: 0px auto;
  font-family: 'Baloo', cursive;
}

.login-signup {
  position: relative;
  margin-left: 150px;
}

.login-signup span {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 54px;
  text-align: center;
}

.login-signup span > * {
  padding: 21px 0;
  transition: all 0.15s ease;
}

.login-signup span > *:hover {
  border-bottom: 3px solid #2BDE73;
  transition: all 0.15s ease;
}

.login-signup span:nth-child(2) {
  right: 110px;
  top: -20px;
  width: 60px;
}

.login-signup span:last-child {
  right: 20px;
  top: -20px;
  width: 60px;
}
