.pledgeErrors {
  color: red;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  position: absolute;
  top: 100px;
}

.pledgeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.pledgeForm > * {
  border: 1 px solid black;
  border-radius: 4px;
  width: 100%;
}

.pledgeForm h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.pledgeForm select {
  height: 40px;
  font-size: 15px;
}

.pledgeForm input {
  cursor: pointer;
  text-align: center;
  border: none;

  height: 50px;
  width: 100%;
  margin-top: 50px;
  background-color: #25CB68;
  font-size: 15px;
  color: #ffffff;
  box-shadow: inset 0px 0px 0px 1px #05AF3C;
  transition: all 0.25s ease-in-out;
}

.pledgeForm input {
  transition: all 0.25s ease-in-out;
  transform: translateY(-1px);
  background-color: #05AF3C;
  box-shadow: -1px 2px 3px 1px rgba(0, 0, 0, 0.09);
}

.pledgeForm > h2 {
  text-align: center;
}
