.searchBar {
  position: relative;
}

.searchBar input {
  position: absolute;
  z-index: 2;
  height: 30px;
  top: -8px;
  border: 1px solid #bfbfbf;
  padding-left: 10px;
  font-size: 15px;
}

.login-signup .searchBar input {
  right: 260px;
  width: 230px;
}

.header-group .searchBar input {
  right: 165px;
  width: 270px;
}
