.searchBar {
  position: relative;
}

#searchIcon {
  position: absolute;
  top: -10px;
}

.searchBar input {
  position: absolute;
  z-index: 2;
  height: 30px;
  top: -8px;
  border: 1px solid #bfbfbf;
  padding-left: 10px;
  font-size: 15px;
}

.login-signup .searchBar input {
  right: 260px;
  width: 230px;
}

.header-group .searchBar input {
  right: 165px;
  width: 270px;
}

.searchContainer {
  position: relative;
}

.searchResults {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  top: 25px;
  background-color: white;
  border-right: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.login-signup .searchResults {
  right: 260px;
  width: 241px;
}

.header-group .searchResults {
  right: 165px;
  width: 281px;
}

.searchResults > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}

.searchResults > div:hover {
  cursor: pointer;
  background-color: #90EE90;
}

.searchResults > *  {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}

.searchResults > div span:first-child {
  font-weight: bold;
  font-size: 16px;
}

.searchResults > div span:last-child {
  font-size: 12px;
}
