.rewardsBox {
  border-top: 1px solid #bfbfbf;
  display: flex;
  margin: 50px auto;
  padding-top: 40px;
  position: relative;
  justify-content: center;
}

.rewardsBox > div {
  padding: 20px;
}

.rewardsBox > div:first-child {
  width: 60%;
  margin-left: 10%;
}

.rewardsBox div h2 {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: left;
}

.rewardsBox div p {
  font-size: 15px;
}

.pledgeErrors {
  color: red;
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

.rewardsBox > div:last-child {
  margin-right: 10%;
}

.detailContainer {
  margin-bottom: 20px;
}

.detailContainer button {
  border: none;
  border-radius: 4px;
  width: 100%;
  background-color: #ff0000;
  color: white;
  transition: all 0.25s ease-in-out;
}

.detailContainer button:hover {
  cursor: pointer;
  background-color: #cc0000;
  transition: all 0.25s ease-in-out;
}

.detailBox {
  position: relative;
  border: 1px solid #e0e4fb;
  border-radius: 4px;
  background-color: #F8F9FD;
  padding: 20px;
  transition: all 0.25s ease-in-out;
}

.detailBox:hover {
  background-color: #90EE90;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.detailBox > *:not(#headerLimit) {
  margin-bottom: 10px;
}

#headerAmount {
  color: #0000ff;
  font-size: 20px;
  margin-bottom: 20px;
}

#headerTitle {
  font-size: 18px;
  margin-bottom: 15px;
}

#headerDescription {
  color: #858585;
}

#headerDelivery div {
  font-size: 12px;
  color: #858585;
  margin: 0;
  padding: 0;
}

#headerDelivery > div:first-child {
  font-size: 11px;
}

#headerLimit {
  color: red;
  font-size: 11px;
}
