.titlebox {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.titlebox div {
  padding: 30px 0;
  margin: 25px 0;
}

.titlebox div:first-child {
  width: 20%;
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titlebox div:nth-child(2) {
  width: 80%;
  margin-right: 90px;
  margin-bottom: 35px;
}

.titlebox div p span {
  font-weight: bold;
}

.titlebox div:nth-child(2) p:first-child {
  font-size: 40px;
  margin-bottom: 15px;
}

.titlebox div:nth-child(2) p:last-child {
  font-size: 18px;
  color: #737373;
}

.titlebox div:first-child > * {
  margin: 10px;
}

.titlebox div:first-child a {
  width: 53%;
}

.titlebox div:first-child a button {
  border: none;
  background-color: #25CB68;
  border-radius: 4px;
  font-size: 15px;
  color: white;
  padding: 5px 20px;
  box-shadow: inset 0px 0px 0px 1px #05AF3C;
  transition: all 0.25s ease-in-out;
}

.titlebox div:first-child a button:hover {
  background-color: #05AF3C;
  transform: translateY(-1px);
  box-shadow: -1px 2px 3px 1px rgba(0, 0, 0, 0.09);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
