.statbox {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.statbox div {
  padding: 30px;
  margin: 0px 60px;
}

.statbox div:first-child {
  width: 60%;
  align-items: center;
}

.statbox div img {
  width: 90%;
  height: 70%;
  object-fit: cover;
}
