.project-create-form {
  background-image: url(http://res.cloudinary.com/ds1qfel8a/image/upload/c_scale,w_1920/v1495328945/create_bg_nr9kor.jpg);
  height: 900px;
  opacity: 0.6;
}

.create-form-content {
  background-color: white;
}

.form-description {
  height: 70px;
  vertical-align: top;
}
